soapTester/wsdl
resources/wsdl
.idea
soapTester/pw.txt
soapTester/user.txt
resources/pw.txt
resources/user.txt
resources/dataModel/navContact.json
resources/dataModel/navResource.json
resources/dataModel/navStatus.json
resources/dataModel/navProcess.json
resources/dataModel/testData/NavContact1TestData.json
resources/dataModel/testData/NavContact2TestData.json